<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body ng-app='product'>
	<div ng-controller='ProductController'>
		<button ng-click='getAll()'>Get Products</button>
		<div ng-repeat="result in results">
			{{result}}
		</div>
	</div>
<script type="text/javascript" src="bower_components/angular/angular.js"></script>
<script type="text/javascript" src="app/product.js"></script>
<script type="text/javascript" src="app/productService.js"></script>
<script type="text/javascript" src="app/productController.js"></script>
<!-- <script type="text/javascript" src="bower_components/angular-mocks/angular-mocks.js"></script>
<script type="text/javascript" src="spec/productDataBuilder.js"></script> -->
</body>
</html>